#img-bg{
    background-image: url('https://image.freepik.com/fotos-gratis/masculino-mao-escreve-no-caderno-conceito-de-trabalho-ou-educacao-on-line_118925-2102.jpg');
  
    min-height: 695px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }